
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="fade-in">
    <h1>Bienvenidos a vENDEDORES</h1>
    <h2>Diseños elegantes en un plizplaz</h2>
    <%= image_tag("hero-img", alt: "IMAGEN")%>
    <a href="<%= new_user_session_path %>" class="btn-get-started scrollto">Ingresar</a>
  </div>
</section>
<!-- End Hero Section -->

</body>
